/* Hero section styles */
.hero-section {
    background-image: url(../IMAGES/backgrounds/cleaning\ kit.jpg);
    padding: 100px;
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-section > .top-heading {
    padding: 1px 20px;
    background-color: #11122b;
    color: #cbcbcb;
    width: 250px;
    border-radius: 2px;
}
.hero-section > .bottom-heading {
    background-color: antiquewhite;
    color: #11122b;
    padding: 1px 20px;
    margin-top: 10px;
    width: 105px;
    border-radius: 2px;
}

/* features section styles */
.features-section {
    height: 400px;
background: url(../IMAGES/backgrounds/seamless-background-cleaning-service-backdrop-services.webp);
border-color: #443107;
border-top: 10px solid wheat;
color: #11122b;
font-weight: 600;
display: flex;
justify-content: center;
align-items: center;
font-family: "Ubuntu Condensed", sans-serif;
box-shadow: inset 10px 10px 100px 0px rgba(0,0,0,0.72);;
}

.features-section > .columns-wrapper {
    width: 1000px;
    display: flex;
    justify-content: space-between;
}

.features-section > .columns-wrapper > .columns {
padding: 20px;
margin: 42px;
text-align: center;
border-bottom: 5px solid transparent;
border-radius: 10px;
transition: 1s;
}

.features-section > .columns-wrapper > .columns:hover {
border-bottom: 5px #11122b ;
}
    
.features-section > .columns-wrapper > .columns :nth-child(1) {
    font-size: 3em;
}

.features-section > .columns-wrapper > .columns :nth-child(2) {
  font-size: 1.5em;
  font-weight: 800;
  height: 40px;
  transition: 1s;
}

.features-section > .columns-wrapper > .columns :nth-child(3) :hover {
    letter-spacing: 1px;
  }

  .features-section > .columns-wrapper > .columns :nth-child(3) {
   letter-spacing: 2px;
  }
