/* skewed header */
.skewed-header {
    position: relative;
    height: 400px;
    overflow: hidden;
}

.skewed-header > .header-background {
   position: absolute;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   height: 100%;
   width: 100%;
   background-repeat: no-repeat;
   background-size: 100%;
   transform: skewY(-6deg);
   transform-origin: top left;
   filter: brightness(55%);
}

.skewed-header > .skewed-header-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100vw;
}
.skewed-header-wrapper > .skewed-header-content {
    width: 1000px;
    display: flex;
    justify-content:space-between;
    align-items: center;
  }

.skewed-header > .skewed-header-wrapper > .skewed-header-content > .heading-wrapper {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    width: 170px;
    padding: 10px;
    text-align: center;
    color: bisque;
}